.images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 25px;
}

.headingError {
  font-size: 30px;
  margin: 20px auto;
  color: rgb(160, 16, 16);
}

.header__text {
  font-size: 40px;
  margin: 20px auto 40px;
  color: var(--theme-default-header);
}
