* {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 970px;

  padding: 10px auto;
  margin: 0 auto;

  a {
    margin: 15px;
    text-decoration: none;

    color: rgb(244, 236, 236);
    font-size: 20px;
  }
}

.nav__list {
  display: flex;
  column-gap: 40px;
  font-size: 20px;
  font-weight: 500;

  text-shadow: 0 0 1px rgb(245, 241, 241), 0 0 2px;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: rgb(241, 241, 247);
}

.btnTheme button {
  border: none;
  background-color: rgba(240, 231, 231, 0.61);
  color: rgba(0, 0, 0, 0.695);
  font-size: 20px;
  padding: 5px;

  margin-right: 10px;
  border-radius: 5px;

  cursor: pointer;
}
